/dep/
/build/
/build.paho/
*.swp
*.pyc
/build.paho

*.d
*.out
build
build32
build64

debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.tar
*.zip
*.log
*.substvars
.vagrant
debian/files
debian/debhelper-build-stamp
debian/tmp/
obj-*/
*.user
.pc

debian/libpaho-mqtt*/
