version: 1.0.{build}
image: Visual Studio 2015
configuration: Debug
install:
- cmd: cinst openssl.light
build_script:
- cmd: >-
    mkdir build.paho

    cd build.paho

    "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x64

    cmake -G "NMake Makefiles" -DPAHO_WITH_SSL=FALSE -DPAHO_BUILD_DOCUMENTATION=FALSE -DPAHO_BUILD_SAMPLES=TRUE -DCMAKE_BUILD_TYPE=Release -DCMAKE_VERBOSE_MAKEFILE=TRUE  -DMQTT_TEST_BROKER="tcp://test.mosquitto.org:1883" ..

    nmake

    ctest -T test -VV

    cd ..
test:
  assemblies: build/Testing/*/Test.xml