Source: paho-mqtt-c1
Section: libs
Priority: optional
Maintainer: Ethan Trevor <ethan@nandlab.com>
Build-Depends: debhelper-compat (= 12), cmake (>= 2.8.12), libssl-dev (>= 1.1)
Standards-Version: 4.4.1
Vcs-Browser: https://github.com/eclipse/paho.mqtt.c
Vcs-Git: https://github.com/eclipse/paho.mqtt.c.git

Package: libpaho-mqtt-c1-dev
Section: libdevel
Architecture: any
Depends:  ${misc:Depends}, libpaho-mqtt3a1 (= ${binary:Version}), libpaho-mqtt3c1 (= ${binary:Version}), libpaho-mqtt3as1 (= ${binary:Version}), libpaho-mqtt3cs1 (= ${binary:Version})
Description: Eclipse Paho MQTT C Client Library - development files
 Development package of the Eclipse Paho MQTT C client library.
 Includes the C headers and CMake files.

Package: libpaho-mqtt3a1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eclipse Paho MQTT C Client Library - async shared library
 Asynchronous client shared library from the Eclipse Paho MQTT C Client Library.

Package: libpaho-mqtt3c1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eclipse Paho MQTT C Client Library - classic shared library
 Classic client shared library from the Eclipse Paho MQTT C Client Library.

Package: libpaho-mqtt3as1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eclipse Paho MQTT C Client Library - async ssl shared library
 Asynchronous SSL client shared library from
 the Eclipse Paho MQTT C Client Library.

Package: libpaho-mqtt3cs1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Eclipse Paho MQTT C Client Library - classic ssl shared library
 Classic SSL client shared library from the Eclipse Paho MQTT C Client Library.
